{{define "persona"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{template "estilos"}}
</head>
<body>
    {{template "menu"}}
    <label id="lblestado"></label>
    <div class="container mb-3">
        <button type="button" class="btn btn-primary" id="btnuevo"
         onclick="AbrirModal(0)" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Nueva Persona
        </button>
    </div>

    <div class="input-group mb-3 container">
        <span class="input-group-text" id="basic-addon3">Nombre</span>
        <input type="text" class="form-control"
        id="txtnombrebuscar" onkeyup="FiltrarPersona()"
        aria-describedby="basic-addon3">
    </div>
    
    <div class="container" id="divTabla">

    </div>
     <!-- Modal -->
     <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="lbltitulo"></h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="mb-3">
                <label for="txtIdpersona" class="form-label">Id Persona</label>
                <input type="text" class="form-control" id="txtIdpersona" readonly >
              </div>
            <div class="mb-3">
                <label for="txtnombre" class="form-label">Nombre Persona</label>
                <input type="text" class="form-control obligatorio" id="txtnombre" name="Nombre" placeholder="Ingrese Nombre">
              </div>
              <div class="mb-3">
                <label for="txtapellidopaterno" class="form-label">Apellido Paterno</label>
                <input type="text" class="form-control obligatorio" id="txtapellidopaterno" name="Apellidopaterno" 
                placeholder="Ingrese Apellido Paterno">
              </div>
              <div class="mb-3">
                <label for="txtapellidomaterno" class="form-label">Apellido Materno</label>
                <input type="text" class="form-control obligatorio" id="txtapellidomaterno" name="Apellidomaterno" 
                placeholder="Ingrese Apellido Materno">
              </div>
              <div class="mb-3">
                <label for="txtfechanacimiento" class="form-label">Fecha Nacimiento</label>
                <input type="text" class="form-control obligatorio" id="txtfechanacimiento" name="FechaNacimiento" 
                placeholder="Ingrese Fecha Nacimiento">
              </div>
              <div class="mb-3">
                <label for="txttipopersona"
                class="form-label">Seleccione Tipo Persona</label>
                <select id="cbotipopersona" class="form-select form-select-sm obligatorio" aria-label=".form-select-sm example">
                   
                </select>
         </div>
         <div class="modal-footer">
            <button type="button" onclick="Guardar()" class="btn btn-primary">Aceptar</button>
            <button type="button" class="btn btn-danger" id="btncerrar" data-bs-dismiss="modal">Cancelar</button>
         </div>
         <div id="divErrores">


         </div>
         </div>
        </div>
     </div>
     <form method="POST" id="frm">
      <input type="hidden" id="txtid" name="id"/>
      <input type="hidden" id="bledit" value="1"/>
      <input type="hidden" id="bldelet" value="1"/>
    </form>
    {{template "scripts"}}
    <script type="text/javascript" src="../../static/js/persona.js"></script>

</body>

{{end}}