{{define "login"}}
<!DOCTYPE html>

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>Login</title>
    <link rel="stylesheet" href="../../static/css/login.css">
         
	</head>
	<body>


    <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
          <div class="login100-form validate-form flex-sb flex-w">
            <span class="login100-form-title p-b-51">
              Ingreso
            </span>
  
            
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
              <input class="input100" type="text" id="txtusuario" placeholder="Usuario">
              <span class="focus-input100"></span>
            </div>
            
            
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
              <input class="input100" type="password" id="txtcontra" placeholder="Contraseña">
              <span class="focus-input100"></span>
            </div>
            
            <div class="flex-sb-m w-full p-t-3 p-b-24">
           
  
              <div>
                <a href="#" class="txt1">
                  Olvidaste tu contraseña?
                </a>
              </div>
            </div>
  
            <div class="container-login100-form-btn m-t-17">
              <button class="login100-form-btn" onclick="Ingresar()" >
                Ingresar
              </button>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    



    {{template "scripts"}}
    <script type="text/javascript" src="../../static/js/login.js"></script>

	</body>
</html>
{{end}}